body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffefef;
}

.navbar {
  background: #2d0154;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.title p {
  font-size: 30px;
  font-weight: bold;
}

.options {
  list-style: none;
  display: flex;
}

.options li {
  margin-left: 20px;
}

.options a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.options a:hover {
  color: #b689dd;
  text-decoration: underline;
}

.content,
.skills,
.experience {
  padding: 50px;
  text-align: center;
  background: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.content:hover,
.skills:hover,
.experience:hover {
  transform: scale(1.02);
}
