body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffefef;
}

.navbar {
  background: #2d0154;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.title p {
  font-size: 30px;
  font-weight: bold;
}

.options {
  list-style: none;
  display: flex;
}

.options li {
  margin-left: 20px;
}

.options a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.options a:hover {
  color: #b689dd;
}
